.contact-title {
  font-size: 40px;
  color: var(--main-color);
  text-align: center;
}

.contact-button {
  background-color: Transparent;
  margin-top: 40px;
}

.contact-button a {
  background: var(--background);
  border: 1px solid var(--green);
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--special-color);
  transition: all 0.25s;
}

.contact-button a:hover {
  background: var(--secondary-color);
}
